@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* HOME SECTION */

#home {
  position: relative;
  width: 100vw;
}


#home,
a:active,
a:visited,
a:link {
  color: white;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
#register a, #login a{
  color: black;
  text-decoration: underline;
}

#register a:active, #login a:active{
  color: #2768e5;
}
#register a:visited, #login a:visited{
  color: #2768e5;
}

#navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* gap: 30%;
  margin-right: 2%; */
  z-index: 1;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 8%;
  font-size: 0.8rem;
}

h1 span {
  color: #2768e5;
}

.nav {
  margin-right: 25%;
}

.nav a,
.hero-container a {
  font-size: 1rem;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20%;
}
.nav ul li a:hover {
  color: #2767e5;
}
.nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 3rem;
  flex-direction: column;
  gap: 20%;
  width: 2.5rem;
  height: 2rem;
}
.nav ul li .button:hover,
.button:hover {
  color: #120d22;
  background-color: #2755ff;
}

.nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button,
button,
li button {
  background-color: #2768e5;
  color: white;
  border: none;
  border-radius: 6px;
  height: 4vh;
  width: 9.5vw;
}

#applogo {
  width: max(50px, 3vw);
  height: max(50px, 4vh);
}

.background-container {
  /* position: absolute; */
  /* display: flex;
  gap: 0; */
  /* top: -150px;
  left: -2%; */
  /* height: 55vh;
  aspect-ratio: 1/34;
  width: max(100vw, 100vw); */
  width: 100%;
  height: 55vh;
  /* transform: skew(33deg, -8deg); */
  z-index: -1;
  /* background-color: #120d22; */
  /* border-bottom-left-radius: 30px; */
  overflow: hidden;
}
.background-container.second {
  display: none;
}

.hero-container {
  width: 100vw;
  position: relative;
}
.hero-description {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15%;
  width: 65%;
  top: 22%;
  left: 18%;
}
.hero-description h1 {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.hero-description p {
  font-size: 1vw;
  line-height: 2.5cap;
  margin-bottom: 2%;
}

.hero-images {
  position: relative;
}
.image.first {
  margin-left: 5%;
  width: max(50px, 30vw);
}

.home_description-container {
  width: 60%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 10rem;
  margin: 3% auto 0 auto;
}

.feature .title {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.feature img {
  width: max(50px, 4vw);
}

/* Description Section */

#description {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.description_info-container {
  display: flex;

  margin: 0 3rem;
}

.description_info-container img {
  width: max(365px, 50vw);
}
.description_info-text {
  width: 20%;
  padding-left: 2%;
  margin-top: 10%;
  position: relative;
}
.description_info-text span {
  color: #2768e5;
}
.description_info-text button {
  color: #2768e5;
  border: 1px solid #2768e5;
  background-color: transparent;
  height: 40px;
}
.description_info-text button:hover {
  background-color: blue;
}
.description_info-text-background {
  position: absolute;
  top: 8%;
  right: 15%;
  /* background-color: rgba(217, 217, 217, 0.19); */
  width: max(428px, 40vw);
  /* transform: rotateY(-7deg);
  transform: rotateX(40deg); */
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}
.benefit {
  margin: 0 10%;
  font-weight: bolder;
}
.benefit img {
  width: max(65px, 9vw);
}

/* Pricing Section */

#pricing {
  width: 100vw;
  height: 100vh;
  margin-top: 5%;
}
.pricing_header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.plans_title-container {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 4rem;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 3%;
}

.plans_title-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2768e5;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  background-color: rgba(39, 104, 229, 0.21);
  border-radius: 8px;
  padding: 1.5%;
  text-align: center;
}

.pricing_cards-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 5%;
  gap: 1rem;
}
.pricing_cards-container li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.pricing_cards-container img {
  width: 25px;
}
.pricing_card {
  width: 353px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.pricing_card span {
  color: #2768e5;
  font-size: larger;
}
.pricing_card.left,
.pricing_card.right {
  z-index: 0;
}
.pricing_card.middle {
  /* height: 531px; */
  box-shadow: -1px 2px 12px 2px rgba(0, 0, 0, 0.25);
  /* 1px 2px 12px 2px rgba(0, 0, 0, 0.1); */
}

.pricing_card div {
  margin-top: 2rem;
  text-align: center;
}
.pricing_card button {
  width: 159px;
  height: 46px;
}
.pricing_card ul {
  padding-left: 0;
}
.pricing_card li {
  padding: 0.4rem;
}
/*MobileApp Section*/
#mobileApp {
  position: relative;
  width: 100vw;
  height: 108vh;
  margin: 2rem 0;
}

.mobileApp-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  object-fit: fill;
  aspect-ratio: 1/1;
  z-index: 1;
}
.mobileSection-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  z-index: 2;
}
#mobileSection-logo {
  width: 10rem;
}

.mobileSection-content h1 {
  font-family: "Londrina Outline";
  font-size: 9rem;
  color: #fff;
  margin: 2 0;
}
.notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30rem;
  height: 4rem;
  border-radius: 43px;
  border: 2px solid #fff;
  background: #4b82e9;
  font-size: x-large;
  gap: 0.5rem;
  color: #fff;
}
#notification-icon {
  width: 30px;
}

/* Testimonials Section */

#testimonials {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}
.carrousel-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12rem;
}
.testimonials-slider {
  width: 100vw;
}

.arrow {
  position: absolute;
  z-index: 10;
  width: 300px;
}

.arrow img {
  width: 100px;
}
.next {
  right: 5%;
  top: 0%;
}

.prev {
  left: 5%;
  top: 0%;
}

.carrousel-testimonial p {
  flex: 0.5;
  color: #8b8d95;
}
.testimonials_picture-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.testimonials_picture-container img {
  height: 9vh;
}

.testimonials_picture-container img.active {
  height: 12vh;
}

.clients_Pictures-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.clients_Pictures-container img {
  width: max(45px, 6vw);
  padding: 0 1rem;
}

#background-image {
  width: 100%;
  height: 100%;
}

.actionCall-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

.actionCall_content-container {
  position: absolute;
  top: 45%;
  left: 25%;
  display: flex;
  width: 50%;
  align-items: center;
  text-align: left;
  gap: 18%;
  font-size: large;
  color: white;
}

.actionCall_content-container button {
  width: 600px;
  height: 55px;
  border-radius: 5px;
  color: #2768e5;
  background-color: #ffffff;
}

/* Footer */

#footer {
  overflow-x: hidden;
  width: 100vw;
  margin-top: 20%;
}

.sections-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.sections-container p,
.sections-container p a:active,
.sections-container p a:link,
.sections-container p a:visited,
.sections-container p a {
  color: #8b8d95;
}

.nominalogo {
  width: 30px;
  height: 30px;
}
.copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 8rem 9rem 2rem 3rem;
}
.logo-copyright {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Responsiveness */

@media only screen and (min-width: 1201px) and (max-width: 1613px) {
  .nav a,
  .hero-container a {
    font-size: 0.8rem;
  }

  .background-container {
    height: 50vh;
  }
  #mobileSection-logo {
    width: 9rem;
  }

  .mobileSection-content h1 {
    font-size: 8rem;
  }
  .notification-button {
    gap: 0.5rem;
    width: 25rem;
    height: 4rem;
    font-size: x-large;
  }
  #notification-icon {
    width: 35px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .hero-description {
    width: 70%;
  }

  .hero-description h1 {
    font-size: 1.8rem;
  }

  .hero-description p {
    font-size: 0.7rem;
  }

  .image.first {
    width: 35vw;
  }

  .background-container {
    height: 45vh;
  }

  .description_info-text h2 {
    font-size: 1rem;
  }
  .description_info-text p {
    font-size: 0.8rem;
  }
  .pricing_card {
    width: 300px;
  }
  .pricing_header-container h1 {
    font-size: 1.8rem;
  }

  #mobileSection-logo {
    width: 8rem;
  }

  .mobileSection-content h1 {
    font-size: 7rem;
  }
  .notification-button {
    gap: 0.5rem;
    width: 25rem;
    height: 4rem;
    font-size: x-large;
  }
  #notification-icon {
    width: 35px;
  }
  .carrousel-testimonial img {
    width: 85px;
  }
  .carrousel-testimonial p {
    flex: 0.6;
    font-size: small;
  }

  .actionCall-container h1 {
    font-size: 1.8rem;
  }

  .actionCall-container p {
    font-size: 1rem;
  }

  .actionCall-container button {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .nav .menu {
    display: flex;
  }

  #navbar {
    flex-direction: column;
    align-items: start;
  }

  .nav ul {
    display: none;
    position: absolute;
    flex-direction: column;

    text-align: center;
    width: 20%;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    top: 3rem;
    right: 3rem;

    border-radius: 10px;
  }
  .nav ul li {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-bottom: 0.3rem;
    border-radius: 10px;
    background-color: rgba(18, 13, 34, 1);
  }
  .nav ul li:hover,
  .nav ul li:active {
    background-color: rgba(217, 217, 217, 0.5);
  }
  .nav ul.open {
    display: flex;
    align-items: center;

    padding-left: 0;
  }

  .nav ul .button {
    width: 100%;
    height: 2.2rem;
    border-radius: 10px;
  }
  .nav ul .button:hover {
    background-color: #2767e5;
  }
  .background-container {
    display: none;
  }

  .background-container.second {
    display: block;
    height: 47vh;
  }
  .hero-description {
    width: 80%;
    top: 22%;
    gap: 3%;
    left: 10%;
  }
  .hero-description h1 {
    font-size: 1.5rem;
  }

  .hero-description p {
    font-size: 0.7rem;
  }
  .hero-description .button {
    width: 7rem;
  }

  .image.first {
    width: 40vw;
  }

  .home_description-container {
    grid-template-columns: 1fr;
    gap: 2rem 7rem;
    justify-items: center;
    text-align: center;
  }
  .home_description-container .feature {
    width: 70%;
  }
  .feature .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .feature .title h3 {
    margin: 0;
  }
  #description {
    height: fit-content;
  }
  .description_info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description_info-text-background {
    display: none;
  }
  .description_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    order: 1;
    background-color: rgba(217, 217, 217, 0.19);
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .description_info-text p {
    margin: 10px 5rem;
  }

  .description_info-text button {
    margin-top: 1.5rem;
    width: 100px;
  }
  .description_info-container img {
    order: 2;
  }
  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit {
    width: 30%;
  }
  .pricing_card,
  .pricing_card.middle {
    width: 300px;
  }
  .pricing_cards-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing_header-container h1 {
    font-size: 1.8rem;
  }
  #pricing {
    height: fit-content;
  }
  #mobileApp {
    height: 70vh;
  }
  #mobileSection-logo {
    width: 8rem;
  }

  .mobileSection-content h1 {
    font-size: 4rem;
  }
  .notification-button {
    gap: 0.5rem;
    width: 20rem;
    height: 3.5rem;
    font-size: large;
  }
  #notification-icon {
    width: 30px;
  }
  #testimonials {
    width: fit-content;
  }
  .arrow {
    width: 85px;
  }
  .arrow img {
    width: 85px;
  }
  .carrousel-testimonial p {
    flex: 0.6;
    font-size: small;
  }
  #background-image {
    height: 45vh;
  }

  .actionCall_content-container {
    top: 40%;
  }
  .actionCall-container h1 {
    font-size: 1.5rem;
  }

  .actionCall-container p {
    font-size: 0.8rem;
  }

  .actionCall-container button {
    height: 2.3rem;
    font-size: 0.6rem;
  }
  .sections-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .nav .menu {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: start;
  }

  .nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 20%;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    top: 3rem;
    right: 3rem;
    border-radius: 10px;
  }

  .nav ul li {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-bottom: 0.3rem;
    border-radius: 10px;
    background-color: rgba(18, 13, 34, 1);
  }
  .nav ul li:hover,
  .nav ul li:active {
    background-color: rgba(217, 217, 217, 0.5);
  }
  .nav ul.open {
    display: flex;
    align-items: center;

    padding-left: 0;
  }

  .nav ul .button {
    width: 100%;
    height: 2.2rem;
    border-radius: 10px;
  }
  .nav ul .button:hover {
    background-color: #2767e5;
  }
  .background-container {
    display: none;
  }

  .background-container.second {
    display: block;
    height: 40vh;
  }
  .hero-description {
    width: 85%;
    top: 22%;
    gap: 1%;
    left: 10%;
  }
  .hero-description h1 {
    font-size: 1.4rem;
  }

  .hero-description p {
    font-size: 0.6rem;
  }
  .hero-description .button {
    width: 7rem;
  }

  .image.first {
    width: 45vw;
  }
  .home_description-container {
    grid-template-columns: 1fr;
    gap: 2rem 7rem;
    text-align: center;
  }
  .feature .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  #description {
    height: fit-content;
  }
  .description_info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description_info-text-background {
    display: none;
  }
  .description_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    order: 1;
    background-color: rgba(217, 217, 217, 0.19);
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .description_info-text p {
    margin: 10px 5rem;
  }

  .description_info-text button {
    margin-top: 1.5rem;
    width: 100px;
  }
  .description_info-container img {
    order: 2;
  }
  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit {
    width: 30%;
  }
  .pricing_card,
  .pricing_card.middle {
    width: 300px;
  }
  #pricing {
    height: fit-content;
  }
  .pricing_header-container h1 {
    font-size: 1.2rem;
  }
  .pricing_cards-container {
    flex-direction: column;
    align-items: center;
  }
  .plans_title-container {
    width: 380px;
    font-size: 0.8rem;
  }
  #mobileSection-logo {
    width: 6rem;
  }

  .mobileSection-content h1 {
    font-size: 4rem;
  }
  .notification-button {
    gap: 0.5rem;
    width: 20rem;
    height: 3.5rem;
    font-size: large;
  }
  #notification-icon {
    width: 30px;
  }
  #testimonials {
    width: fit-content;
  }
  #testimonials h1 {
    font-size: 1.5rem;
  }

  .carrousel-testimonial {
    gap: 3rem;
  }
  .arrow {
    width: 60px;
  }
  .arrow img {
    width: 60px;
  }
  .carrousel-testimonial p {
    flex: 0.7;
    font-size: 0.7rem;
  }

  .testimonials_picture-container img {
    height: 3rem;
  }
  .testimonials_picture-container img.active {
    height: 4rem;
  }

  .clients_Pictures-container img {
    padding: 0.5rem;
  }
  #background-image {
    height: 30vh;
  }

  .actionCall_content-container {
    top: 37%;
    left: 15%;
    width: 70%;
    gap: 20%;
  }
  #actionCall-header {
    font-size: 0.7rem;
  }
  .actionCall-container p {
    font-size: 0.5rem;
  }

  .actionCall-container button {
    height: 2.3rem;
    width: 20rem;
    font-size: 0.6rem;
  }
  .sections-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    margin-top: 8px;
    font-size: 0.5rem;
  }
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .nav .menu {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: start;
  }
  .nav .menu span {
    width: 2.2rem;
    height: 0.25rem;
  }
  .nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 20%;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    top: 3rem;
    right: 3rem;
    border-radius: 10px;
  }
  .nav ul li {
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.3rem;
    border-radius: 10px;
    background-color: rgba(18, 13, 34, 1);
  }
  .nav ul li:hover,
  .nav ul li:active {
    background-color: rgba(217, 217, 217, 0.5);
  }
  .nav ul.open {
    display: flex;
    align-items: center;

    padding-left: 0;
  }

  .nav ul .button {
    width: 100%;
    height: 1.5rem;
    border-radius: 10px;
  }

  .background-container {
    display: none;
  }

  .background-container.second {
    display: block;
    height: 40vh;
  }
  .hero-description {
    width: 85%;
    top: 22%;
    gap: 1%;
    left: 10%;
  }
  .hero-description h1 {
    font-size: 1.1rem;
  }

  .hero-description p {
    font-size: 0.5rem;
  }
  .hero-description .button {
    width: 7rem;
    height: 1.5rem;
  }

  .image.first {
    width: 40vw;
  }
  .home_description-container {
    grid-template-columns: 1fr;
    gap: 2rem 7rem;
    text-align: center;
  }
  .feature .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  #description {
    height: fit-content;
  }
  .description_info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description_info-text-background {
    display: none;
  }
  .description_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    order: 1;
    background-color: rgba(217, 217, 217, 0.19);
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .description_info-text p {
    margin: 10px 5rem;
  }

  .description_info-text button {
    margin-top: 1.5rem;
    width: 100px;
  }
  .description_info-container img {
    width: 80vw;
    order: 2;
  }
  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit {
    width: 60%;
  }
  .benefit p {
    font-size: 0.8rem;
  }
  #pricing {
    height: fit-content;
  }
  .pricing_card,
  .pricing_card.middle {
    width: 250px;
    height: 350px;
  }
  .pricing_header-container h1 {
    font-size: 0.8rem;
  }
  .pricing_cards-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing_card h4 {
    margin: 1rem;
  }
  .pricing_card ul {
    margin-top: 0;
  }
  .pricing_card li {
    padding: 0.2rem;
  }
  .pricing_card div {
    margin-top: 0.5rem;
  }
  .plans_title-container {
    width: 85vw;
    height: 5vh;
    font-size: 0.6rem;
  }
  #mobileApp {
    position: relative;
    width: 100vw;
    height: 60vh;
    margin: 2rem 0;
  }

  .mobileApp-background {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1/1;
    z-index: 1;
  }
  .mobileSection-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    z-index: 2;
  }
  #mobileSection-logo {
    width: 4rem;
  }

  .mobileSection-content h1 {
    font-family: "Londrina Outline";
    font-size: 3rem;
    color: #fff;
  }
  .notification-button {
    padding: 10px;
    width: 14rem;
    height: 2.8rem;
    font-size: medium;
  }
  #notification-icon {
    width: 25px;
  }

  #testimonials {
    width: fit-content;
    height: fit-content;
  }
  #testimonials h1 {
    font-size: 1.2rem;
  }

  .carrousel-testimonial {
    gap: 0.5rem;
  }
  .arrow {
    width: 30px;
  }
  .arrow img {
    width: 30px;
  }
  .carrousel-testimonial p {
    flex: 0.7;
    font-size: 0.6rem;
  }
  #background-image {
    height: 30vh;
  }
  .testimonials_picture-container {
    gap: 1rem;
  }
  .testimonials_picture-container img {
    height: 2rem;
  }
  .testimonials_picture-container img.active {
    height: 3rem;
  }

  .clients_Pictures-container img {
    padding: 0rem;
  }

  .actionCall_content-container {
    top: 38%;
    left: 10%;
    width: 80%;
    gap: 11%;
  }
  #actionCall-header {
    font-size: max(1rem, 2vw) !important  ;
  }
  .actionCall-container p {
    font-size: 0.5rem;
  }

  .actionCall-container button {
    height: 2rem;
    width: 11rem;
    font-size: 0.6rem;
  }
  .sections-container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  .copyright-section {
    width: 80%;
    padding-left: 2rem;
  }

  .copyright-section p {
    font-size: 0.7rem;
  }
  .logo-copyright {
    gap: 0.5rem;
  }
}

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */
