:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
}

#home {
  width: 100vw;
  overflow: hidden;
}

#home,
a:active,
a:visited,
a:link {
  color: white;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* gap: 30%;
  margin-right: 2%; */
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 8%;
  font-size: 0.8rem;
}
h1 span {
  color: #2768e5;
}

.nav {
  margin-right: 25%;
}

.nav a,
.hero-container a {
  font-size: 1rem;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button,
button,
li button {
  background-color: #2768e5;
  color: white;
  border: none;
  border-radius: 6px;
  height: 4vh;
  width: 9.5vw;
}

#applogo {
  width: max(50px, 3vw);
  height: max(50px, 4vh);
}
.background-container {
  /* position: absolute; */
  /* display: flex;
  gap: 0; */
  /* top: -150px;
  left: -2%; */
  height: 55vh;
  aspect-ratio: 1/34;
  width: max(100vw, 100vw);
  /* transform: skew(33deg, -8deg); */
  z-index: -1;
  /* background-color: #120d22; */
  /* border-bottom-left-radius: 30px; */
  overflow: hidden;
}
.background.Left {
  height: 100%;
  width: 50%;
  background: linear-gradient(#120d22, #212432);
  border-bottom-left-radius: 30px;
}
.background.right {
  height: 100%;
  width: 50%;
  background-color: #292c3a;
}

.hero-container {
  position: absolute;
  top: 11%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
}
.hero-description {
  width: 23%;
  margin-left: 9%;
}
.hero-description h1 {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.hero-description p {
  font-size: 1vw;
  line-height: 2.5cap;
  margin-bottom: 2%;
}

.hero-images {
  position: relative;
}
.image.first {
  margin-left: 5%;
  width: max(100px, 28vw);
}

.home_description-container {
  width: 60%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 10rem;
  margin: 3% auto 0 auto;
}

.feature .title {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.feature img {
  width: max(50px, 4vw);
}

#description {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.description_info-container {
  display: flex;

  margin: 0 3rem;
}

.description_info-container img {
  width: max(365px, 55vw);
}
.description_info-text {
  width: 20%;
  padding-left: 2%;
  margin-top: 10%;
  position: relative;
}
.description_info-text span {
  color: #2768e5;
}
.description_info-text button {
  color: #2768e5;
  border: 1px solid #2768e5;
  background-color: transparent;
  height: 40px;
}
.description_info-text-background {
  position: absolute;
  top: 8%;
  right: 8%;
  /* background-color: rgba(217, 217, 217, 0.19); */
  width: max(428px, 43vw);
  /* transform: rotateY(-7deg);
  transform: rotateX(40deg); */
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}
.benefit {
  margin: 0 10%;
  font-weight: bolder;
}

#pricing {
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
}
.pricing_header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plans_title-container {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 4rem;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 3%;
}

.plans_title-container h2 {
  color: #2768e5;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  background-color: rgba(39, 104, 229, 0.21);
  border-radius: 8px;
  padding: 1.5%;
  text-align: center;
}

.pricing_cards-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 5%;
}
.pricing_cards-container li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.pricing_cards-container img {
  width: 25px;
}
.pricing_card {
  width: 353px;
  height: 469px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.pricing_card.left,
.pricing_card.right {
  z-index: 0;
}
.pricing_card.middle {
  height: 531px;
  box-shadow: -1px 2px 12px 2px rgba(0, 0, 0, 0.25),
    1px 2px 12px 2px rgba(0, 0, 0, 0.1);
}

.pricing_card div {
  margin-top: 2rem;
  text-align: center;
}
.pricing_card button {
  width: 159px;
  height: 46px;
}
.pricing_card ul {
  padding-left: 0;
}
.pricing_card li {
  padding: 0.8rem;
}

#testimonials {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}
.carrousel-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20rem;
}
.carrousel-testimonial p {
  width: 30%;
}
.testimonials_picture-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  gap: 3rem;
}

.clients_Pictures-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

#background-image {
  width: 100vw;
}

.actionCall-container {
  position: absolute;
  width: 40%;
  top: 87%;
  left: 33%;
}

.actionCall_content-container {
  display: flex;
  width: fit-content;
  align-items: center;
  text-align: left;
  gap: 30%;
  font-size: large;
  color: white;
}

.actionCall_content-container button {
  width: 700px;
  height: 55px;
  border-radius: 5px;
  color: #2768e5;
  background-color: #ffffff;
}

#footer {
  width: 100vw;
  margin-top: 20%;
}

.sections-container {
  display: flex;
  justify-content: center;
  gap: 20%;
}
.sections-container p {
  color: #8b8d95;
}
.nominalogo {
  width: 30px;
  height: 30px;
}
.copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 7rem;
}
.logo-copyright {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1201px) and (max-width: 1613px) {
  .nav a,
  .hero-container a {
    font-size: 0.8rem;
  }

  .background-container {
    height: 50vh;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }

  .background-container {
    height: 45vh;
  }

  .description_info-text h2 {
    font-size: 1rem;
  }
  .description_info-text p {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .background-container {
    height: 35vh;
  }
  .home_description-container {
    grid-template-columns: 1fr;
    gap: 2rem 7rem;
    text-align: center;
  }
  .feature .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  #description {
    height: fit-content;
  }
  .description_info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description_info-text-background {
    display: none;
  }
  .description_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    order: 1;
    background-color: rgba(217, 217, 217, 0.19);
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .description_info-text p {
    margin: 10px 5rem;
  }

  .description_info-text button {
    margin-top: 1.5rem;
    width: 100px;
  }
  .description_info-container img {
    order: 2;
  }
  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit {
    width: 30%;
  }
  .pricing_cards-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .nav a,
  .hero-container a {
    font-size: 0.6rem;
  }
  .background-container {
    height: 30vh;
  }
  .home_description-container {
    grid-template-columns: 1fr;
    gap: 2rem 7rem;
    text-align: center;
  }
  .feature .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  #description {
    height: fit-content;
  }
  .description_info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .description_info-text-background {
    display: none;
  }
  .description_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    order: 1;
    background-color: rgba(217, 217, 217, 0.19);
    width: 100%;
    height: 25rem;
    text-align: center;
  }
  .description_info-text p {
    margin: 10px 5rem;
  }

  .description_info-text button {
    margin-top: 1.5rem;
    width: 100px;
  }
  .description_info-container img {
    order: 2;
  }
  .benefits-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .benefit {
    width: 30%;
  }
  .pricing_cards-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
}

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */
