:root{
    box-sizing: border-box;
}


body{
    margin: 0;
    width: 100vw;
    font-family: "Jost", sans-serif;
}
#login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/LoginPage.png");
}

label{
    position: relative;
}

.login_form{
    padding-top:10px ;
    background-color: white;
    width: 450px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login_form h1{
    text-align: center;
}

.login_header{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.logo_img{

    width: 70px;
}

.login_form form{
    width: 80%;
    margin: 0 auto;
}
input:disabled{
    background-color: rgba(39, 104, 229, 0.09);
}

.login_form input{
    padding-left:8px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 2px solid #D9D9D9; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.rnc_input{
   margin: 0!important;
}
.rsocial_input{
    margin-top: 20px;
}

.login_form input::placeholder{
    
    color: #8B8D95;
    
}
.login_form button[type="submit"]{
    border: none;
    margin-bottom: 15px;
    width: 103.5%;
    height: 50px;
    color: white;
    background-color: #2768E5;
}

.login_form button[type="submit"]:active{
    background-color: blue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.submit_container{
    text-align: left;
    margin-bottom: 10px;
}

.redirect_register{
    margin: 0 auto 20px auto;
    
}


.validation_error{
    width: 100%;
    color: red;
    font-size: smaller;
    padding-left: 2px;
}

.icon{
    position: absolute;
    top: 5px!important;
    right: 10px;
    color: #B7B7B7
}
.password_icon{
    color: black!important;
}

#iframe_container{
    width: 100vw;
    height: 100vh;
}

.spinner{
    color: white !important;
}

.redirect-link{
    text-decoration: underline;
}

.submit-button{
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #2768E5;
}

.password_input_container{
    position: relative;
}
.loading_spinner{
    margin: 0 auto!important;
}